/* styles.css */

* {
	font-family: UnifrakturMaguntia;
}

body {
	background-color: babyblue;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

.backgroundImage {
	background-image: url(../img/copano-rickey.jpg);
	width: 576px;
	height: 417px;
}

.backgroundImage:hover {
	background-image: url(../img/copano-rickey-uma.png);
	cursor: crosshair;
}

h1 {
font-family: "UnifrakturMaguntia", cursive;
}
